@model  PracticaBootCamp.Bussines.Student

@{
    Layout = "~/Views/Shared/_LayoutBcri.cshtml";
    List<SelectListItem> stateStudentList = (List<SelectListItem>)ViewBag.stateStudentList;
    List<SelectListItem> userList = (List<SelectListItem>)ViewBag.userList;

    string url = ViewBag.url;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Views/Lesson/LessonIndex.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("Create", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("url", url)

        <div class="form-horizontal">
            <h1><b>Nuevo Estudiante</b></h1>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <label class="control-label col-sm-2">Nombre</label>
                <div class="col-sm-2">
                    @Html.EditorFor(model => model.Tuition, new { htmlAttributes = new { @class = "form-control", @id = "Title" } })
                    @Html.ValidationMessageFor(model => model.Tuition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Usuario</label>
                <div class="col-sm-2">
                    <select id="User_Id" name="User_Id" class="form-control select2">
                        <option></option>
                        @foreach (var user in userList)
                        {
                            var parts = user.Text.Split(' ');
                            var name = parts.Length > 0 ? parts[0] : "";
                            var fullName = parts.Length > 1 ? string.Join(" ", parts.Skip(1)) : "";
                            <option value="@user.Value" data-name="@name" data-fullname="@fullName">
                                @user.Text
                            </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
                </div>

            </div>





            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    @if (ViewBag.Alert != null)
    {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> @ViewBag.Alert
        </div>
    }
    <div>
        @Html.ActionLink("Volver a la Grilla", "Index")
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        // Inicializar Select2
        $('#lessonSelect').select2({
            allowClear: true,
            width: 'resolve' // Asegura que se ajuste al contenedor
        });
        $('#courseSelect').select2({
            allowClear: true,
            width: 'resolve' // Asegura que se ajuste al contenedor
        });
        // Manejar cambio en selección
        $('#lessonSelect').on('change', function () {
            var selectedOption = $(this).find('option:selected');
            var url = selectedOption.data('url');
            if (url) {
                // Si es una URL de YouTube, puede que necesites transformarla a embed
                if (url.includes("youtube.com/watch?v=")) {
                    var embedUrl = url.replace("watch?v=", "embed/");
                    $('#videoPreview').attr('src', embedUrl);
                } else {
                    $('#videoPreview').attr('src', url);
                }
                $('#previewContainer').show();
            } else {
                $('#videoPreview').attr('src', '');
                $('#previewContainer').hide();
            }
        });
    });
    $(document).ready(function () {

        // Activar select2 en el combo
        $('.select2').select2({
            placeholder: "Seleccione un usuario",
            allowClear: true,
            width: 'resolve'
        });

        // Autocompletar título al seleccionar un usuario
        $('#User_Id').on('change', function () {
            var selected = $(this).find('option:selected');
            var name = selected.data('name');
            var fullName = selected.data('fullname');
            if (name && fullName) {
                var cleanName = name.replace(/[()]/g, '');
                var cleanFullName = fullName.replace(/[()]/g, '');
                $('#Title').val(cleanName + ' ' + cleanFullName);
            }
        });
    });
</script>