@model IEnumerable<PracticaBootCamp.Bussines.Student>
@{
    Layout = "~/Views/Shared/_LayoutBcri.cshtml";
    List<SelectListItem> stateStudentList = (List<SelectListItem>)ViewBag.stateStudentList;
    List<SelectListItem> userList = (List<SelectListItem>)ViewBag.userList;
    string accessNew = ViewBag.New.ToString().ToLower();
    string accessSCNew = ViewBag.New.ToString().ToLower();
    string accessEdit = ViewBag.Edit.ToString().ToLower();
    string accessDelete = ViewBag.Delete.ToString().ToLower();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Views/Lesson/LessonIndex.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>Student Index</title>
</head>
<body>
    <div>
        <h1><b>Estudiantes</b></h1>

        @using (Html.BeginForm("Index", "Student", FormMethod.Post))
        {
            <div>
                <div class="alignLeft paddingDiv" style="display:inline-block">
                    @Html.Label("Nombre ")
                    @Html.TextBox("User.Name", null, new
               {
                   @class = "form-control textBox",
                   @maxlength = "50",
                   @size = "50",
                   @id = "Name",
                   @onkeyup = "filterStudentsByName()"
               })

                </div>
                <br />
                <div class="alignLeft paddingDiv" style="display:inline-block">
                    @Html.Label("Estado ")
                    @Html.DropDownList("StateStudent.Id", stateStudentList, null, new { @class = "form-control", @id = "stateFilter" })
                    
                </div>
                <div class="alignLeft" style="padding-top:0px;padding-left:35px;padding-bottom:30px;">
                    <input type="submit" class="btn btn-success btn-sm alignLeft" value="Buscar" />
                </div>
            </div>
            <div style="padding-top:10px; padding-bottom:10px;">
                
                <div style="text-align:left;">

                    <div style="text-align:left;">
                        @if (accessNew == "true")
                        {
                            <div>
                                <a href="@Url.Action("Create","Student")" class="btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Nuevo
                                </a>
                            </div>
                        }
                        <br />
                        @if (accessSCNew == "true")
                        {
                            <div>
                                <a href="@Url.Action("Create", "StudentCourse")" class="btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Asignar Curso
                                </a>
                            </div>
                        }

                        </div>
                </div>
            </div>
            <div>
                @*<div>
                        <label><input type="checkbox" id="filtroPositivos" /> Mostrar solo estudiantes en estado Positivo</label>
                    </div>*@

                <table class="table table-bordered table-hover" style="background-color:white;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">
                                Nombre
                            </th>
                            <th style="text-align: center; ">
                                Apellido
                            </th>


                            <th style="text-align: center;">
                                Estado del Estudiante
                            </th>
                            <th style="text-align: center;">
                                Cursos
                            </th>
                            <th style="text-align: center; width: 4%; ">
                                Extra<br />

                            </th>



                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: left; width: 10%;">
                                @Html.DisplayFor(modelItem => item.User.Name, userList)
                            </td>
                            <td style="text-align: left; width: 10%;">

                                @Html.DisplayFor(modelItem => item.User.FullName, userList)

                            </td>
                            <td class="estado-estudiante" data-estado="@item.StateStudent.Id" style="text-align: left; width: 10%;">
                                @Html.DisplayFor(modelItem => item.StateStudent.State, stateStudentList)
                            </td>
                            <td style="text-align: left; width: 15%; ">
                                @if (item.StudentCourses != null && item.StudentCourses.Count > 0)
                                {
                                    <ul>
                                        @foreach (var tc in item.StudentCourses)
                                        {
                                            <li>@tc.Course.Name</li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <span>No tiene cursos asignados</span>
                                }
                            </td>

                            <td>
                                @if (accessEdit == "true" || accessDelete == "true")
                                {
                                    if (accessEdit == "true")
                                    {
                                        <a href="@Url.Action("Edit", "Student", new { id = item.Id })">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" style=" font-size: 20px;"></span>
                                        </a>
                                    }
                                    @*<a href="@Url.Action("Details", "Student", new { id = item.Id })">
                                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style=" font-size: 20px;"></span>
                                        </a>*@
                                    if (accessDelete == "true")
                                    {
                                        <a href="@Url.Action("Delete", "Student", new { id = item.Id })" onclick="return confirm('Esta Seguro de Eliminar el estudiante @item.User.Name @item.User.FullName ?')">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" style=" font-size: 20px;"></span>
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>

        }
    </div>
</body>
</html>
<script>

    function filterStudentsByName() {
        var input = document.getElementById("Name").value.toLowerCase();
        var table = document.querySelector("table");
        var rows = table.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {
            var nameCell = rows[i].getElementsByTagName("td")[0];
            var lastNameCell = rows[i].getElementsByTagName("td")[1];
            var name = nameCell ? nameCell.textContent.toLowerCase() : "";
            var lastName = lastNameCell ? lastNameCell.textContent.toLowerCase() : "";

            rows[i].style.display = (name.includes(input) || lastName.includes(input)) ? "" : "none";
        }
    }

</script>
