 
@model Singular.Response.ResultSearch<Bcri.Core.ElasticEntity.Document>
<div class="Document">
    @foreach (var item in Model.Documents)
    {
        <li class="left clearfix">

            <div class="pull-left">
                <a href="@Url.Action("Get", "DocumentSearch", new {id = @item.Document.FileId})">
                    <strong class="primary-font ">@item.Document.Name</strong>
                </a>
            </div>
            <div class="chat-body clearfix" id="date">
                <small class="pull-right text-muted">
                    <i class="fa fa-clock-o fa-fw"></i> <em> @item.Document.Date.ToShortDateString()</em>
                </small>
            </div>
            <br/>
            <p>
                @Html.Raw(string.Join(" ", item.Highlight))
            </p>
        </li>
    }
</div>
