<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">Holidays</h1>
    </div>
    <div class="row">
        <div class="panel-body">
            <div class="col-lg-12">
             @Html.Partial("_GridHoliday")
            </div>
        </div>
    </div>
</div>


<div id="HolidayJsData"
     data-editurl="@Url.Action("HolidayEdit")"
     data-delurl="@Url.Action("HolidayDel")"
     data-dataurl="@Url.Action("HolidayData")">
</div>

@section scripts {
    @Scripts.Render("~/Areas/Bcri/Views/Holiday/Holiday.js")
}


