<div class="row">
    <div class="col-lg-3">
        @Html.DropDownList("RepositoryConfigId", (List<SelectListItem>) ViewBag.RepositoryConfigs , new {@class = "form-control" })
    </div>
    <div class="col-lg-3 hidden">
        @Html.DropDownList("ProcessConfigId", (List<SelectListItem>) ViewBag.RepositoryConfigs)
    </div>
    <div class="col-lg-3 hidden">
        @Html.DropDownList("Period", (List<SelectListItem>)ViewBag.RepositoryConfigs)
    </div>
</div>

<div class="row">
    <div class="col-lg-12" id="RepositoryGridContainer">
        @* se carga por ajax *@
    </div>
</div>

<div id="RepositoryJsData"
     data-gridurl="@Url.Action("Grid")"/>

@section scripts {
    @Scripts.Render("~/Areas/Bcri/Views/Repository/Index.js")
}
